/*Global Styling*/
:root {
    --base: #ffffff;
    --contrast: #222222;
    --medium: #3B3B3B;
    --accent-light: #EBEBEB;
    --accent-medium: #BC76DA;
    --accent-dark: rgb(76, 39, 92);
    --cta: rgb(204, 153, 1);
    --cta-hover: rgb(165, 124, 0);
    --content-width: 1200px;
    --content-padding-x: 4vw;
}

@font-face {
    font-family: Playfair;
    src: url(../../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(../../fonts/Raleway/Raleway-VariableFont_wght.ttf);
    font-display: swap;
}

* {    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

html, body {
    min-height: 100dvh;
    scroll-behavior: smooth;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100dvh;
    position: relative;
}

section {
    scroll-snap-align: start;
    height: 100dvh;
    overflow-y: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-width {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--content-padding-x);
    padding-right: var(--content-padding-x);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage {
    background: linear-gradient(to right, #272727, rgba(11, 11, 11, 0)), url(/images/homeBg.webp);
    background-size: cover;
    background-position: center;
}

.page {
    background: linear-gradient(to right, #272727, rgba(11, 11, 11, 0)), url(/images/pageBg.webp);
    background-size: cover;
    background-position: center;
}

.page-subtitle {
    display: none;
}

.page-description {
    display: none;
}

.hidden {
    display: none;
}

@media screen and (min-height: 600px) {
    .page-subtitle {
        display: block;
    }
}

@media screen and (min-height: 850px) { 
    .page-description {
        display: block;
    }
}

/*Typography Styling*/
p, caption, li, a, ::before, ::after, h5 {
    font-family: Raleway, Arial, Helvetica, sans-serif, sans-serif;
}

h1, .title-font {
    font-family: Playfair, 'Times New Roman', Times, serif;
    font-size: clamp(2rem, 8.5vw, 4rem);
}

h2, h3, h4, h6 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

h2 {
    font-size: clamp(1.1rem, 3vw, 1.4rem);
}

h4 {
    font-size: 1.2rem;
}

/*Page Containers Styling*/
.col, .half-col {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.half-col {
    width: 90%;
}

@media screen and (min-width: 800px) {
    .col, .half-col {
        gap: 1rem;
    }

    .half-col {
        width: 60%;
    }
}

/*Text Gradient Styling*/
@keyframes shimmer {
    from {background-position: -200% 0;}
    to {background-position: 200% 0;}
}

.text-gradient {
    background: linear-gradient(to right, var(--accent-medium), var(--base), var(--accent-medium));
    background-size: 200% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text-gradient:hover {
    animation: shimmer 2.5s linear infinite;
}

/*BubbleNavigation Styling*/
.bubble-nav {
    display: none;
}

@media screen and (min-width: 1100px) {
    .bubble-nav {
        position: fixed;
        right: 20px;
        width: var(--content-padding-x);
        height: 100dvh;
        padding: 44dvh 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
    }
    
    .bubble-nav svg {
        width: 8px;
        fill: var(--base);
    }
}


/*Directional Button Fill*/
.button-cont {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.hmd-button-1 {
    background-image: linear-gradient(to top, transparent, transparent);
    transition: background-size 300ms ease 20ms, transform 100ms ease 20ms;
    background-repeat: no-repeat;
    padding: 6px 18px;
    position: relative;
    background-color: var(--cta);
    color: var(--base);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    font-size: .8rem;
}

.hmd-button-1[data-buttonside="left"] {
    background-image: linear-gradient(to top, var(--cta-hover), var(--cta-hover));
    background-size: 0% 100%;
    background-position: left;
}
  
.hmd-button-1[data-buttonside="right"] {
    background-image: linear-gradient(to top, var(--cta-hover), var(--cta-hover));
    background-size: 0% 100%;
    background-position: right;
}
  
.hmd-button-1[data-buttonside="top"] {
    background-image: linear-gradient(to top, var(--cta-hover), var(--cta-hover));
    background-size: 100% 0%;
    background-position: top;
}
  
.hmd-button-1[data-buttonside="bottom"] {
    background-image: linear-gradient(to top, var(--cta-hover), var(--cta-hover));
    background-size: 100% 0%;
    background-position: bottom;
}

.hmd-button-1-hover-class:hover {   
    background-size: 100% 100%;
    cursor: pointer;
}

.hmd-button-1:active {    
    transform: scale(0.95, 0.95); 
}

.hmd-button-1.outline {
    background-color: transparent;
    border: 2px solid white;
    padding: 4px 16px;
    transition: transform ease 300ms;
}

.hmd-button-1.outline:hover {
    transform: scale(1.05, 1.05);
}

.hmd-button-1.small {
    padding: 8px 20px;
    font-size: .8rem;
}

.hmd-button-1.outline.small {
    padding: 6px 18px;
    font-size: .8rem;
}

button.hmd-button-1 {
    transition: transform 300ms ease;
}

button.hmd-button-1:hover {
    transform: scale(1.05, 1.05);
}

@media screen and (min-width: 800px) {
    .hmd-button-1 {
        font-size: 1rem;
        padding: 10px 24px;
    }

    .hmd-button-1.outline {
        padding: 8px 22px;
        font-size: 1rem;
    }
}

/*TechStack Styling*/
.tech-stack-desktop {
    display: none;
}

.tech-stack-mobile {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem;
    grid-template-rows: auto;
    gap: .4rem;
    margin: 2rem 0;
}

.tech-stack-mobile-item {
    width: 3rem;
    height: 3rem;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--contrast);
    position: relative;
}

.tech-stack-mobile-item::before {
    content: attr(data-yoe);
    position: absolute;
    background-color: var(--medium);
    bottom: calc(100% + 9px); 
    left: 50%;
    color: var(--base);
    width: 2.8rem;
    padding: .2rem;
    text-align: center;
    font-size: .8rem;
    border-radius: 4px;
    transform: translateX(-1.6rem);
    opacity: 0;
    transition: opacity 300ms ease;
    pointer-events: none;
}

.tech-stack-mobile-item::after {
    content: "";
    position: absolute;
    bottom: calc(100%);
    left: 50%;
    border: 5px solid transparent;
    border-top-color: var(--medium);
    transform: translateX(-5px);
    opacity: 0;
    transition: opacity 300ms ease;
    pointer-events: none;
}

.tech-stack-mobile-item:hover::after, .tech-stack-mobile-item:hover::before {
    opacity: 1;
}

@media screen and (min-width: 800px) {
    .tech-stack-mobile {
        display: none;
    }

    .tech-stack-desktop {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 20% 1rem 2%;
        border-radius: 10px;
        background-color: var(--contrast);
    }
    
    .tech-stack-desktop-item {
        width: 3rem;
        height: 3rem;
        z-index: 2;
        background-color: var(--contrast);
        position: relative;
    }
    
    .tech-stack-desktop-item::before {
        content: attr(data-yoe);
        position: absolute;
        background-color: var(--contrast);
        padding: .4rem;
        bottom: calc(100% + 1rem);
        width: calc(100% - .8rem + 1rem);
        left: -.5rem;
        font-size: .8rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        transform: translateY(calc((.5rem * 2) + .8rem));
        color: transparent;
        transition: transform ease 100ms, color ease 200ms;
        z-index: -1;
        pointer-events: none;
    }
    
    .tech-stack-desktop-item::after {
        content: attr(data-tech);
        position: absolute;
        font-size: .6rem;
        font-weight: bold;
        background-color: rgb(34, 34, 34, .8);
        border-radius: 40px;
        box-shadow: 0 0 10px 10px rgb(34, 34, 34, .8);
        width: 100%;
        top: calc(50% - .3rem);
        right: 0;
        text-align: center;
        opacity: 0;
        transition: opacity ease 300ms;
    }
    
    .tech-stack-desktop-item:hover::after {
        opacity: 1;
    }
    
    .tech-stack-desktop-item:hover::before {
        transform: translateY(0);
        color: white;
    }
}


/*Carousel Styling*/
.carousel-parent {
    margin: 2rem 0 0 0;
}

.carousel-shifter {
    display: flex;
    gap: 20px;
    transition: transform 300ms ease;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.carousel-item-wrapper {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    background-color: var(--contrast);
    border-radius: 20px;
    padding: 100px 1.6rem 1.6rem 1.6rem;
    width: calc(100vw - (var(--content-padding-x) * 2));
    min-width: calc(100vw - (var(--content-padding-x) * 2));
}

.carousel-item-image {
    width: 70%;
    margin: 10px auto -100px auto;
    z-index: 10;
}

.carousel-item-content {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.carousel-item-content p {
    margin-top: 1rem;
}

.carousel-button {
    display: none;
}

@media screen and (min-width: 600px) {
    .carousel-parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .carousel-wrapper {
        overflow-x: hidden;
    }

    .carousel-shifter {        
        scroll-snap-type: none;
        overflow-x: visible;
    }
    
    .carousel-shifter[data-shift="1"] {    
        transform: translateX(-340px);
    }
    
    .carousel-shifter[data-shift="2"] {    
        transform: translateX(calc(-340px * 2));
    }
    
    .carousel-shifter[data-shift="3"] {    
        transform: translateX(calc(-340px * 3));
    }
    
    .carousel-shifter[data-shift="4"] {    
        transform: translateX(calc(-340px * 4));
    }
    
    .carousel-shifter[data-shift="5"] {    
        transform: translateX(calc(-340px * 5));
    }
    
    .carousel-shifter[data-shift="6"] {    
        transform: translateX(calc(-340px * 6));
    }
    
    .carousel-shifter[data-shift="7"] {    
        transform: translateX(calc(-340px * 7));
    }

    .carousel-item {
        width: 320px;
        min-width: 320px;
    }

    .carousel-button {   
        display: block; 
        width: 32px;
        stroke: var(--base);
    }
    
    .carousel-button.inactive {
        opacity: .2;
    }
}

/*Skills Cards Styling*/
.skills-cards-container {
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.skills-card {
    background-color: var(--contrast);
    border-radius: 10px;
    padding: 1rem;
    width: 18rem;
    min-width: 18rem;
}

.skills-card-slider {
    height: 100%;
}

.skills-card-slider p {
    margin-top: .6rem;
}


@media screen and (min-width: 1000px) {
    .skills-cards-container {
        overflow-x: hidden;
        flex-wrap: wrap;
    }

    .skills-card {
        overflow-y: hidden;
    }

    .skills-card-slider {
        transform: translateY(calc(100% - 1.2rem));
        transition: transform 300ms ease;
        pointer-events: none;
    }

    .skills-card:hover .skills-card-slider {
        transform: translateY(0);
    }

}

/*Contact Form Styling*/
@keyframes fname {
    0% {width: 0;}
    80% {width: 70%;}
    100% {width: 60%;}
}

@keyframes lname {
    0% {width: 0;}
    80% {width: 90%;}
    100% {width: 80%;}
}

@keyframes email {
    0% {width: 0;}
    80% {width: 50%;}
    100% {width: 40%;}
}

@keyframes message {
    0% {width: 0;}
    80% {width: 100%;}
    100% {width: 90%;}
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.contact-form input, .contact-form textarea {
    padding: 1rem;
    border-radius: 15px;
    border: none;
    color: var(--contrast);
    resize: none;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.contact-form button {
    align-self: start;
    border: none;
    margin-top: 2rem;
}

.contact-form #fname {
    width: 60%;
    animation: fname 800ms ease 1;
    animation-delay: 3s;
}

.contact-form #lname {
    width: 80%;
    animation: lname 900ms ease 1;
    animation-delay: 3s;
}

.contact-form #email {
    width: 40%;
    animation: email 700ms ease 1;
    animation-delay: 3s;
}

.contact-form #message {
    width: 90%;
    animation: message 1000ms ease 1;
    animation-delay: 3s;
}