<div class='content-width'>
    <div class="col">
        <h2 class='title-font'>Get in touch</h2>
        <h3 class='subtitle'>Like what you see? Let's connect.</h3>               
    </div>
    <div>
        <form class='contact-form' name="contact" method="POST" netlify action='/thank-you'>
            <input type="hidden" name="form-name" value="contact" />
            <label for='fname' class='hidden'>First Name</label>
            <input 
                type='text'
                placeholder='First Name (required)'
                id='fname'
                name='fname'
                required
            />
            <label for='lname' class='hidden'>Last Name</label>
            <input 
                type='text'
                placeholder='Last Name (required)'
                id='lname'
                name='lname'
                required
            />
            <label for='email' class='hidden'>Email Address</label>
            <input 
                type='email'
                id='email'
                name='email'
                placeholder='Email Address (required)'
                required
            />
            <label for='message' class='hidden'>Message</label>
            <textarea 
                rows='5'
                placeholder='Message (required)'
                id='message'
                name='message'
                required
            />
            <button class='hmd-button-1' type='submit' id="submit">Send</button>
        </form>
    </div>
</div>
