<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Web Developer Katie Pardee's Portfolio Site" />
		<title>Katie Pardee Portfolio</title>
	</head>
	<body>
        <main>            
		    <slot />
        </main>
	</body>
</html>
